* {
 padding: 0;
 margin: 0;
 border: 0;
 box-sizing: border-box;
 font-family: 'Orbitron', sans-serif;   
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

button {
    border: none;
}

body {
    height: 100%;
    line-height: 1;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-around;
}

.home-link {
    /* padding-left: 132px; */
}

.ul-home-link {
    display: flex;
    justify-content: space-around;
}

a {
    color: aliceblue;
}

.home-link-li {
    margin-right: 5px;
}

img.vector {
    vertical-align: top;
}