* {
 padding: 0;
 margin: 0;
 border: 0;
 box-sizing: border-box;
 font-family: 'Orbitron', sans-serif;   
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

button {
    border: none;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100%;
    line-height: 1;
    background:linear-gradient(to right, black 51%, #57B8FF 51%);
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    padding-top: 20px;
}

.home-link {
    padding-right: 167px;
    padding-top: 38px;
    padding-left: 167px;
}

.ul-home-link {
    display: flex;
    justify-content: space-around;
}

a {
    color: aliceblue;
}

.home-link-li {
    margin-right: 5px;
}

.home-link-a {
    margin-right: 60px;
} 

img.vector {
    vertical-align: top;
    color:aliceblue;
}

.ul-button {
    display: flex;
}

.button {
    padding-top: 15px;
}

.basket {
    background: none;
    padding-top: 10px;
    padding-right: 15px;
}

.contact {
    background: none;
}

.preview-nav {
    display: flex;
    justify-content: space-around;
    transform: rotate(270deg);
    font-size: 11px;
}

.preview-ul {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 870px;
    left: 480px;
}

.social {
    margin-right: 55px;
    text-decoration: none;
    color: gray;
}

.gaming {
    padding-top: 80px;
}

.lorem-p {
    color: gray;
}

.lorem {
    padding-top: 45px;
}

.guy {
    position: absolute;
    right: 240px;
    top: 300px;
}

.view-a {
    color: aliceblue;
    margin-right: 74px;
}

.pin {
    display: flex;
}

.pin li {
    padding-right: 74px;
    padding-top: 30px;
}

.pin {
    padding-top: 53px;
}

.main-text-1 {
    padding-left: 100px;
}

.preview-tabs-link {
    color: #57B8FF;
}

.more {
    border: 24px solid #57B8FF;
    background: #57B8FF;
}

.main-text {
    padding-top: 180px;
}

